<div class="comment-box">
<%= bootstrap_form_for @comment do |f| %>
  <%= f.text_field :author_name, label: "名字" , class: "name_field" %>
  <%= f.text_area :body, label: "内容"%>
  <%= f.submit 'Submit', 'data-disable-with' => "sending.." } %>
<% end %>
</div>

