article {
  background: #fff;
  border-radius: 20px;
  box-shadow: 7px 7px 30px 0 rgba(50, 50, 50, .75);
  margin: 0 30px;
  padding: 50px;
  margin-bottom: 70px;


  .data {
    color: #666;
    display: inline-block;
    font-size: 13px;
  }

  .comment_count {
    display: inline-block;
    float: right;
    font-size: 12px;
    font-weight: bold;

    .glyphicon-comment {
      margin-right: 4px;
    }
  }
}

.article-list {
  margin: 20px;
}
