<div id="sidebar">
<h1>sidebar</h1>
   <ul>
   <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      created_at <%= article.created_at.strftime("%B") %> month
    </li>
   <% end %>
   </ul>
</div>