<% content_for :title, "About Me" %>
<div class="about">
 <h1>About Me</h1>
 <div class="row">
   <div class="col col-md-3 col-sm-3">
     <img class="img-thumbnail img-responsive photo" src="https://avatars0.githubusercontent.com/u/2096566?s=300">
   </div>
   <div class="col col-md-9 col-sm-9">
     <p>这家伙很懒,什么都没有留下</p>
   </div>
 </div>
</div>

<% content_for :template_js do %>
<script>
 if (window.location.pathname == "/about"){
    $(".navbar-left li:nth-child(3)").addClass("active");
  }
</script>
<% end %>
