<% content_for :title, "Blogger Archive" %>
<div class="content">
<% @article_months.sort.each do |month, articles| %>
  <h2><%= month.strftime("%Y %B") %></h2>
  <ul class="archive">

  <% for article in articles %>
  <li>
      <%= article.created_at.to_date.to_s(:long) %>
      <a href ="<%= article_path(article) %>"><%= article.title %></a>
  </li>
  <% end %>
  </ul>
<% end %>
</div>


<div class="text-center">
<%= will_paginate @paginate_articles, renderer: BootstrapPagination::Rails %>
</div>

<% content_for :template_js do %>
<script>
  if (window.location.pathname == "/archive"){
    $(".navbar-nav li:nth-child(2)").addClass("active");
  }

</script>
<% end %>
