<% content_for :title, "My Blog" %>
<div class="row article-list">
  <div class="col-md-8">
  <% @articles.each do |article| %>
    <article>
      <a href="<%= article_path(article) %>"><h1><%= article.title %></h1></a>

         <i class="fa fa-clock-o"></i>
         <span class="data"><%= article.created_at.strftime("%Y-%m-%d") %></span>
         <div class="comment_count">
           <span class="glyphicon glyphicon-comment"></span>
           <a href="<%= article_path(article) %>"><%= article.comments.count %>条回复</a>
         </div>

      <div class="post_body">
      <p><%= markdown article.body %></p>
      </div>
    </article>
  <% end %>
  </div>
  <div class="col-md-4">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Tags</h4>
      </div>
      <div class="tags-cloud">
      <ul class="list-inline tags">
        <% @tags.each do |tag| %>
         <li class="<%= tag_class(tag.name) %>"><a href="<%= tag_path(tag) %>"><%= tag %><span><%= tag.articles.count %></span></a></li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</div>

<% content_for :template_js do %>
<script>

  if (window.location.pathname == "/"){
    $(".navbar-left li").first().addClass("active");
  }

</script>
<% end %>

