.edit_tools {
  .tabnav-tab {
    border: 1px solid transparent;
    padding: 8px 12px;
  }

  li {
    display: inline;
    margin-right: 10px;

    a:hover {
        text-decoration: underline;
    }
  }

}


#article_body {
  height: 300px;
}


.pills {
  padding: 0;

  .right_icons {
    display: inline-table;
  }

  #article-upload-images {
    bottom: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 0;
  }

  .selected {
    background-color: #fff;
    border-color: #ddd;
    border-radius: 3px 3px 0 0;
    color: #333;
    font-weight: bold;
  }
}

