.navbar-fixed-top {
  transition: top .2s ease-in-out;

  a {
    font-weight: bold;
  }
}

.nav-up {
  top: -50px;
}

.navbar-inverse {
  border-color: #080808;
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  background-repeat: repeat-x;
}

.logged-in {
  margin-right: 15px;
}
