.default-body {
  background: #e6e6e6 url(image_path('furley-bg.png'));
  padding-top: 55px;
}

.admin-body {
  background: #e6e6e6 url(image_path('furley-bg.png'));
}

body {

  a:visited {
    color: #224f88;
  }
}
