<% content_for :title, @tag.name %>
<div class="row article-list">
<div class="primary-content">
  <div class="col-md-8">
  <% @tag.articles.each do |article| %>
    <article>
      <a href="<%= article_path(article) %>"><h1><%= article.title %></h1></a>
         <i class="fa fa-clock-o"></i>
         <span class="data"><%= article.created_at.strftime("%Y-%m-%d")  %></span>
         <span class="comment_count"><%= article.comments.count %>条回复</span>
      <div class="post_body">
      <p><%= article.body %></p>
      </div>
    </article>
  <% end %>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Tags</h4>
        </div>
        <div class="tags-cloud">
        <ul class="list-inline tags">
          <% @tags.each do |tag| %>
           <li class="<%= tag_class(tag.name) %>"><a href="<%= tag_path(tag) %>"><%= tag %><span><%= tag.articles.count %></span></a></li>
          <% end %>
        </ul>
        </div>
      </div>
  </div>
</div>
</div>

<div class="text-center">
<%= will_paginate @test, renderer: BootstrapPagination::Rails %>
</div>
