<% content_for :title, "Sign In" %>
<div class="modal-dialog login-form">
        <h1 class="text-center">登陆</h1>
        <%= bootstrap_form_tag url: '/author_sessions'  do |f| %>
         <%= f.email_field :email, label: "邮件" %>
         <%= f.password_field :password, label: "密码" %>
         <%= f.submit 'Login', class: "btn btn-success", 'data-disable-with' => "登陆中..."  %>
        <% end %>
</div>


